{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    {{ contacts.getMapCode()|replace({
        '%x%': contacts.getMapX(),
        '%y%': contacts.getMapY(),
        '%hint%': contacts.getMapPointHint(),
        '%info%': contacts.getMapPointInformation()
    })|raw() }}
{% endblock javascripts %}
{% block body %}
    <div class="container">
        <h3>Телефоны:</h3>
        {{ contacts.getPhones()|raw() }}
        <h3>Электронная почта:<h3>
        {{ contacts.getEmail()|raw() }}
        <h3>Карта:</h3>
        <div id="map" style="width: 600px; height: 400px"></div>
        <h3>Схема проезда развязки:</h3>
    </div>
{% endblock body %}
