{% extends '::base.html.twig' %}
{% block breadcrumbs %}
    <a href="{{ path('homepage') }}">Главная</a> /
    {{ serviceGroup.name }}
{% endblock breadcrumbs %}
{% block body %}
    <div class="container">
        <h1>
            {{ serviceGroup.name }}
        </h1>
        {% for service in serviceGroup.services %}
            {% if service.isVisible %}
                {% include ':service:_list_part.html.twig' with {'service': service} %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock body %}