{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        {% for service in serviceList %}
            {% if service.isVisible %}
                {% include ':service:_list_part.html.twig' with {'service': service} %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock body %}